@charset "EUC-KR";

footer {
	position: relative;
	text-align: center;
	margin: 4% auto;
}

.infoBox {
	padding: 30px 24px 30px 24px;
	border: 1px solid #E1E7EB;
	background-color: #F6F9FA;
	text-align: left;
	height: 100%;
}

.login-divider {
	position: relative;
	left: 30%;
	width: 40%;
	text-align: center;
	border-bottom: 1px solid #E1E7EB;
	line-height: 9px;
	margin-top: 6px;
	margin-bottom: 20px;
}

.login-divider span {
	position: relative;
	color: #B0BEC5;
	padding: 0px 10px;
	font-size: 12px;
	background-color: #FBFBFC;
}

.btn-outline {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 41px;
	max-width: 292px;
	border: 1px solid #CDD7DC;
	border-radius: 2px;
	background-color: #F6F9FA;
	color: #0078ff;
	margin: 0 auto;
}

.coll {
	width: 340px;
	height: 605px;
	display: inline-block;
	margin-right: 16px;
	position: relative;
	overflow: hidden;
}

.roco {
	width: 100%;
	text-align: center;
}

.btn-facebook {
	background-color: #3b579d;
	width: 8.625rem;
	margin-right: 1rem;
}